/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style */
body {
  font: 16px/28px arial, sans-serif;
  background-image: url(img/tiles.png);
  background-color: #eaeaea;
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
}

.header {
  background-color: #2c3e50;
  padding: 20px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: #1abc9c;
}

.nav {
  position: relative;
  margin: auto;
  width: 720px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0.1);
}

.nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  width: 100px;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.nav a:hover {
  height: 100%;
  top: 0;
  z-index: 0;
  background: #1abc9c;
  width: 100px;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

.hero {
  height: 280px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 -150px;
  border-bottom: 5px solid lightskyblue;
  border-top: 5px solid lightskyblue;
}

.content {
  padding: 30px;
  background: #2c3e50;
  color: white;
}

.penulis {
  position: relative;
  margin: -10px auto;
  width: 200px;
  height: 30px;
  background: #34495e;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0.1);
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.content .penulis a {
  color: salmon;
  text-decoration: none;
  padding: 3px;
}

.content .penulis a:hover {
  background-color: lightskyblue;
  color: white;
}

.content p {
  margin-top: 25px;
  margin-bottom: 15px;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
